extends ../../../../layouts/layout_base
block header
  script(src="../../../../../../main.js" type="module")
  link(rel="stylesheet", href="../../../../../../style.css")
block body
  include ./mixin
  +badge_with_dot("lg", "lg green", "green")
  +badge_with_dot("lg", "lg indigo", "indigo")
  +badge_with_dot("sm", "sm purple", "purple")
  +badge_with_dot("sm", "sm yellow", "yellow")