extends ../template/components/layouts/pageCode
block header 
  script(src="../main.js" type="module")
  link(rel="stylesheet", href="../style.css")
block heading
  include ../template/navbar
  include ../template/header
block sections
  section
    - var iframe = "./application-ui/application-shells/light-nav"
    - var title = "light_nav_with_bottom_border"
    include ../template/components/layouts/navSection
      block code
        include ./application-ui/application-shells/light-nav-code-pug.pug
  section
    - var iframe = "../template/components/application-ui/application-shell/stacked/brand_nav_with_overlap/brand_nav_with_overlap.pug"
    - var title = "brand_nav_with_overlap"
    include ../template/components/layouts/navSection
      block code
        include ../template/components/application-ui/application-shell/stacked/brand_nav_with_overlap/brand_nav_with_overlap_code.pug