extends ../../../../layouts/layout_base
block header
  script(src="../../../../../../main.js" type="module")
  link(rel="stylesheet", href="../../../../../../style.css")
block body
  //- include ./mixin
  //- +large_badge("green", "green")
  //- +large_badge("red", "red")
  //- +large_badge("blue", "blue")
  //- +large_badge("purple", "purple")