doctype html
html.h-full.bg-gray-100(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src="./main.js" type="module")
    link(rel="stylesheet", href="./style.css")
    title Vite App
  body.h-full
    .bg-white
      .min-h-full
        include template/navbar
        include template/header


