section#product-application-ui-Elements.grid.scroll-mt-12.grid-cols-1.gap-x-8.gap-y-10.py-10(class='lg:py-12 xl:grid-cols-4' x-data="store")
  h3.text-base.font-semibold.text-slate-900 Elements
  ul.col-span-3.grid.grid-cols-1.gap-y-6.gap-x-6(class='sm:grid-cols-2 sm:gap-y-10 md:grid-cols-3 xl:gap-x-8')
    template(x-for="el in getStoreElements")
      include ../mixins/cardHome
